.features {
  @apply max-w-screen-sm mx-auto grid grid-cols-1 gap-4 ;
}

.cardWrapper {
  @apply col-span-12 sm:col-span-5 opacity-0;
  animation: show 0.5s forwards;
}

@keyframes slide {
  100% {
    background-position: 50px 0, 125px 25px;
  }
}

@keyframes show {
  to {
    @apply opacity-100;
  }
}

@keyframes bounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(40px) rotate(-1deg);
    transform: translateY(40px) rotate(-1deg);
  }
}
